.places{
    margin-bottom: 131px;
}

.places__caption{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 36px;
}

.places__title{
    margin-right: 15px;
}

.places__view-all{
    font-size: 16px;
    color: #006DFE;
    text-decoration: none;
    padding-right: 59px;
    background: url(../img/svg/arrow-right-ico.svg) no-repeat right center;
}

.places__view-all:hover, .places__view-all:focus{
    opacity: .65;
}

.places__cards{
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 10px;
    row-gap: 10px;
}

.places__card{
    position: relative;
    overflow: hidden;
}

.places__card::after{
    display: block;
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(21, 24, 36, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.places__card:hover .places__card-pic{
    -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
            transform: scale(1.05);
}

.places__card-title{
    font-size: 50px;
    line-height: 60px;
    color: white;
    position: absolute;
    bottom: 27px;
    left: 29px;
    z-index: 3;
}

.places__card_size_lg{
    -ms-grid-column-span: 3;
    grid-column: span 3;
}

.places__card_size_sm{
    -ms-grid-column-span: 2;
    grid-column: span 2;
}

.places__card-pic{
    width: 100%;
    -webkit-transition: .15s all;
    -o-transition: .15s all;
    transition: .15s all;
}

.places__card-pic_size_lg{
    height: 354px;
    -o-object-fit: cover;
       object-fit: cover;
}

.places__card-pic_size_sm{
    height: 283px;
    -o-object-fit: cover;
       object-fit: cover;
}

.places__card-link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
}