/* At first we should reset all browser's default styles.*/

@import url('reset.css');

/* Importing fonts' styles. */

@import './fonts.css';

/* Importing body's style. */

@import url('body.css');

/* Header styles start */

@import url('header.css');

/* Heaader styles end */

/* Intro styles start */

.intro {
    height: 100vh;
    background: url('../img/intro-bg.jpg') no-repeat center;
    background-size: cover;
    padding-top: 263px;
}

.intro__title {
    max-width: 619px;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    color: #FFFFFF;
    margin-bottom: 22px;
}

.intro__subtitle {
    max-width: 546px;
    line-height: 24px;
    color: #FFFFFF;
    margin-bottom: 59px;
}

/* Intro styles end */